VITE_FIREBASE_API_KEY="AIzaSyA7EDV4FNTX6XCbPagpQzgint4KaFpM4hc"
VITE_FIREBASE_AUTH_DOMAIN="polyglot-wordle.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="polyglot-wordle"
VITE_FIREBASE_STORAGE_BUCKET="polyglot-wordle.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="402617980636"
VITE_FIREBASE_APP_ID="1:402617980636:web:c4be7fa58d3b7cfab58619"
