.root {
  /* This now correctly fills the space provided by AppShell.Main */
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: rem(40px);
  width: 100%;
  max-width: var(--mantine-breakpoint-sm);
  justify-content: space-evenly;
}

.carouselWrapper {
  width: 100%;
  max-width: 500px;
}

.carousel {
  width: 100%;
}
