.tile {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;

  /* Use container query units (cqi) for font size */
  /* This makes the font size 45% of the container's inline (width) size */
  font-size: clamp(0.5rem, 45cqi, 1.75rem);

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #495057;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    border-color 0.1s ease-in-out;
}

/* HIDE THE LETTER ON SMALL TILES */
@container (width < 20px) {
  .tile {
    /* We can remove the font-size: 0 here as the clamp() will handle it */
    color: transparent;
  }
}

.tile[data-status='correct'] {
  background-color: #40c057; /* Mantine green[6] */
  border-color: #40c057;
}
.tile[data-status='present'] {
  background-color: #fcc419; /* Mantine yellow[5] */
  border-color: #fcc419;
}
.tile[data-status='absent'] {
  background-color: #495057; /* Mantine gray[6] */
  border-color: #495057;
}

.tile.empty[data-status='absent'] {
  background-color: transparent; /* initial */
  color: #f90d0d;
  border-color: #f90d0d;
}

.tile[data-has-cursor='true'] {
  border-color: var(--mantine-color-text);
}

.shake {
  animation: shake 0.2s ease-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}
